<div class="row">
    <div class="col-12 text-end">
        <button class="btn btn-success" routerLink="/createUser" >Add New</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>EmailId</th>
                    <th>mobileNo</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for (item of userList; track $index) {
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{item.fulName}}</td>
                        <td>{{item.emailId}}</td>
                        <td>{{item.mobileNo}}</td>
                        <td>{{item.city}}</td>
                        <td class="text-center">
                            <button (click)="onEdit(item.userId)" class="btn btn-danger mx-2">Edit</button>
                            <button (click)="onDelete(item.userId)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>